/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root{
    --header-height: 3rem;
    --nav-width: 324px;
  
  /*===== Font weight =====*/
  --font-medium: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  
  /*===== Colors =====*/
  --first-color: #659DBD;
  --first-color-dark: #5a8aa5;
  --first-color-darken: #397496;
  --text-color: #000000;
  --first-color-light: #d9dcc4;
  --first-color-lighten: #FFFFFF;

  
  /*===== Font and typography =====*/
  --body-font: 'Source Sans Pro', sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  
  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
  
}

@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.1rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    background-image: linear-gradient(#ffeeee, #eef7e0);
    color: var(--text-color);
    line-height: 1.6;
    user-select: none;
}

h1,h2,h3,p{
    margin: 0;
}

h2{
    font-weight: var(--font-semi-bold);
}

h3{
    font-weight: var(--font-semi-bold);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

img{
    max-width: 100%;
    max-height: auto;
    display: flex;
}

/*===== CLASS CSS ===== */
.section{
    padding: 4rem 0 2rem;
}

.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color-darken);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}
 
/*===== LAYOUT =====*/
.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: .5rem;
    width:calc(100%-2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/*===== NAV =====*/
.nav__logo{
    font-size: 1.5rem;
    color: var(--first-color-darken);
    cursor: pointer;
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color-dark);
    transition: .5s;
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-lighten);
    cursor: pointer;
}

.nav__close:hover{
    color: var(--text-color);
}

.nav__item{
    margin-bottom: var(--mb-4);
}

.nav__link{
    font-size: 1.15rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--first-color-lighten);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav__link:hover{
    color: var(--text-color);
}

.nav__toggle{
    color: var(--first-color-darken);
    font-size: 1.5rem;
    font-weight: var(--font-bold);
    cursor: pointer;
}

/*=== Show menu ===*/
.show{
    left: 0;
}

/*Active menu*/
.active{
    color: var(--text-color);
}

/*===== HOME =====*/
.home__container{
    /*height: calc(100vh - var(--header-height));*/
    align-items: center;
    row-gap: var(--mb-1);
}

.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: max-content;
    text-align: center;*/
    padding-left: 1rem;
}

.home__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--mb-2);
}

.home__img{
    /*padding-top: 1.3rem;
    padding-left: .8rem;*/
    display: flex;
    align-items: center;
    width: 260px;
    height: 260px;
    background-repeat: no-repeat;
    /* border-radius: 50%; */
    overflow: hidden;
    margin-bottom: var(--mb-2);
}

.home__title{
    font-size:var(--h2-font-size);
    color: var(--first-color-darken);
    font-weight: var(--font-semi-bold);
}

.home__profession{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--first-color-darken);
    margin-bottom: var(--mb-3);
}

.home__social{
    margin-bottom: 3rem;
}

.home__social-link{
    display: inline-flex;
    background-color: var(--first-color-darken);
    box-shadow: 0 5px 5px rgba(0,0,0,.1);
    color: var(--first-color-lighten);
    font-size: 1.2rem;
    border-radius: 10%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.home__social-link:hover{
    background-color: var(--first-color-dark);
}

/* ===== ABOUT =====*/
.about__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__data{
    text-align: center;
    padding-left: 2rem;
}

.about__description{
    margin-bottom: var(--mb-2);
}

/* ===== Experience =====*/
.experience__container{
    row-gap: 2rem;
}
.experience__body{
    padding-left: 1rem;
    align-items: center;
}

.extra__container{
    row-gap: 1rem;
}

.experience__information-data{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-bottom: var(--mb-1);
}

.experience__information-icon{
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
    color: var(--first-color-darken);
    margin-right: var(--mb-2);
}

.kisu{
    font-size: 1.25rem;
    font-weight: var(--font-semi-bold);
    color: var(--first-color-darken);
}

.experience__data{
    text-align: left;
    padding-left: 4rem;
}

.experience__period-icon{
    margin-bottom: var(--mb-2);
}

.experience__period{
    font-size: 1.1rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
}

.experience__title{
    display: block;
    font-size: 1.1rem;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
}

.point{
    font-size: .75rem;
    margin-right: .5rem;
}

.experience__link{
    display: block;
    font-size: 1.15rem;
    font-weight: var(--font-semi-bold);
    color: #000000;
    margin-bottom: var(--mb-1);
}

.experience__description{
    margin-bottom: var(--mb-1);
}

.button{
    display: inline-block;
    color: var(--first-color-darken);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
}

.button__icon{
    font-size: 1rem;
    margin-left: .2rem;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

/* ===== SKILLS =====*/
.skills__container{
    row-gap: 2rem;
}

.skills__content{
    /*display: flex;*/
    align-items: center;
    padding-left: 2rem;
    margin-bottom: var(--mb-1); 
}

.skill__information-icon{
    font-size: 2rem;
    font-weight: var(--font-semi-bold);
    color: var(--first-color-darken);
    margin-right: var(--mb-4);
}

.skill__information-title{
    display: block;
    font-size: 1.25rem;
    font-weight: var(--font-semi-bold);
    color: var(--first-color-darken);
    margin-bottom: var(--mb-2);
}

.skill__data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: var(--mb-4);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-2);
}

.skill__name{
    font-weight: var(--font-semi-bold);
    font-size: 1.1rem;
}

.skill__bar{
    position: absolute;
    bottom: -.75rem;
    height: .3rem;
    background-color: var(--first-color-darken);
}

.high{
    width: 75%;
}

.mid{
    width: 50%;
}

.low{
    width: 25%;
}

/* ===== EDUCATION =====*/
.education__container{
    padding-left: 5rem;
    row-gap: 2rem;
}

.education__content{
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    column-gap: 1.5rem;
}

.education__year{
    font-size: var(--h3-font-size);
    text-align: right;
    margin-bottom: .5rem;
}

.education__institution{
    font-size: var(--h3-font-size);
    display: block;
}

.education__race{
    font-size: var(--normal-font-size);
    display: block;
}

.education__speciality{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-4);
}

.education__time{
    padding: 0 2rem;
    justify-self: center;
}

.education__rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color-darken);
    border-radius: 50%;
}

.education__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color-darken);
    border-radius: 50%;
}

.education__line{
    display: block;
    height: 65%;
    width: 2px;
    background-color: var(--first-color-darken);
    transform: translate(5px, -4px);
}


/* ===== PROJECTS  =====*/
.project__container{
    justify-items: center;
    row-gap: 2rem;
}

.project__img{
    height: 280px;
    width: 280px;
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: .5rem;
}

.project__data{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(166, 204, 221, 0.932);
    border-radius: .5rem;
    transition: .3s;
}

.project__link{
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--first-color-lighten);
    color: var(--first-color-darken);
    padding: .25rem;
    border-radius: .25rem;
    margin-bottom: var(--mb-2);
}

.project__img:hover .project__data{
    bottom: 0;
}


/* ===== CONTACT =====*/
.contact__container{
    row-gap: 3rem;
}

.contact__input{
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}

.contact ::placeholder{
    color: var(--first-color-darken);
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
}

.contact__button{
    outline: none;
    border: none;
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    padding: .75rem;
    border-radius: .75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
}

/* ===== FOOTER =====*/
.footer{
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer__title{
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer__description{
    margin-bottom: var(--mb-2);
}

.footer__social{
    margin-bottom: 3rem;
}

.footer__link{
    display: inline-flex;
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    font-size: 1.2rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer__link:hover{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.tooltip{
    position: absolute;
    background-color: var(--first-color-lighten);
    font-size: var(--smaller-font-size);
    color: var(--first-color-darken);
    padding: .2rem;
    margin-top: var(--mb-4);
    border-radius: .2rem;
    visibility: hidden;
}

.footer__link:hover .tooltip{
    visibility: visible;
}

.footer__copy{
    font-size: var(--small-font-size);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    .nav__menu{
        width: var(--nav-width);
    }

    .about__container,
    .home__container,
    .experience__body,
    .extra__container,
    .skills__container,
    .project__container,
    .contact__container,
    .contact__inputs{
        grid-template-columns: repeat(2,1fr);
    }

    .home__data,
    .about__data,
    .experience__data{
        text-align: initial;
    }

    .about__description{
        margin-bottom: var(--mb-5);
    }

    .button{
        margin-bottom: var(--mb-3);
    }

    .home__info{
        align-items: initial;
        padding-top: 5rem;
    }

    /*.about__information{
        padding-left: 2rem;
    }*/

    .education__time{
        padding: 0 2rem;
    }

    .contact__inputs{
        display: grid;
        column-gap: 1.5rem;
    }

    .footer{
        background: none;
    }

    .footer__container{
        background-color: var(--first-color-dark);
        padding: 3rem 0;
        border-radius: .5rem;
    }
}

@media screen and (min-width: 1024px) {
    body{
        margin: 0;
        padding-left: var(--nav-width);
    }

    .l-header{
        width: 0;
    }

    .nav__toggle, .nav__close, .nav__logo{
        display: none;
    }

    .nav__menu{
        left: 0;
    }

    .home__container,
    
    .section{
        padding: 3rem 0 2rem;
    }

    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

    .project__container{
        grid-template-columns: 1.5fr 1.5fr 1.5fr;
    }
}